*
{
	margin: 0px;
	padding: 0px;
	font-style: 'arial black';
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
	color: white;
	overflow: hidden;
}
.container
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .box
{
	transform-style: preserve-3d;
	animation: round 20s linear infinite;
}
@keyframes round
{
  0%
  {
     transform: perspective(1000px) rotateX(0deg) rotate(25deg);
  }
  100%
  {
     transform: perspective(1000px) rotateX(360deg) rotate(25deg);
  }
}
.container .box span
{
	position: absolute;
	color: white;
	font-size: 3.5em;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 900;
	padding: 0 10px;
	line-height: 0.70em;
	transform-style: preserve-3d;
	text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	transform: translate(-50%,-50%) rotateX(calc(var(--i)*22.5deg)) translatez(100px);
}
.container .box span i:nth-child(1)
{
	
	color: #ff246f;
}
.container .box span i:nth-child(2)
{
	
	color: yellow;
}
.container .box span i:nth-child(3)
{
	
	color: blue;
}